@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    background-color: #26d0ce;
}
.wrapper{
    background: #fff;
    width: 800px;
    max-width: 800px;
    padding: 0 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
h2{
    display: grid;
    align-items: center;
    color: white;
    background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    height: 80px;
    margin-bottom: 1.5em;
}
form{
    padding: 30px 0 0 0 0;
}
  
.name{ 
    width: 91%;
    border: none;
    padding-left: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.dob{
    width: 30%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.12)
}
.input-box{
    margin: 20px 0;
}
.name,
.dob, :focus {
    border-bottom: 1px solid #1a2980;
    outline: none;
}
#b1,
#bc1{
    margin: 15px 0;
}
#b2,
#bc2{
    margin-left: 10px;
}
select{
    width: 25%;
}


button {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
button{
    justify-content: center;
    transition: 0.5s;
    background-size: 200% auto;           
    box-shadow: 0 0 20px #eee;
    color: white ;
    font-size: 0.9rem;
    padding: 9px 50px;
    border-radius: 28px;
    letter-spacing: 2px;
    margin-top: inherit;
}


 button:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }

@media (max-width: 768px){
    h2{
        font-size: 1.5rem;
        font-weight: 300;
    }
select{
    width: 45%;
}
button{
    font-size: 0.9rem;
    padding: 6px 77px;
    border-radius: 28px;
}
}
i.fa.fa-user.icon,
i.fa.fa-envelope,
i.fa.fa-credit-card.icon{
    display: block;
    bottom: 17px;
    position: relative;
    color: #1a2980;
}
.fa-cc-visa::before,
i.fa.fa-cc-paypal::before{
    color: #1a2980;
}